

footer {
  background-color: black;
  color: white;
  text-align: center;
  padding: 1rem 0;
  position: fixed;
  bottom: 0;
  width: 100%;
  font-size: 1rem;
  box-shadow: 0 -2px 5px rgba(0, 0, 0, 0.5);
}
