.product {
    background-color: white;
    border: 1px solid grey;
    border-radius: 4px;
    padding: 10px;
    height: 350px;
    width: 250px;
    display: inline-block;
    margin: 0 10px 10px 0;
    vertical-align: top;
}

.product img {
    width: 230px;
}

.product h3{
    margin: 0;
}

.price-container {
    display: flex;
    justify-content: space-around;
}